form{
  padding: 40px;
  font-size: 25px;
  background-color: rgba(0, 89, 255, 0.24);
  font-family: monospace;
}
button{
  font-size: 30px;
  border-radius: 10px;
  background-color: rgba(126, 126, 126, 0.76);
}
h3{
  border-bottom: black 3px solid;
  font-size: 35px;
}
p{
  font-weight: bold;
}
input,select{
  background-color: rgba(126, 126, 126, 0.267);
}